// MOBILE VIEW

// $yellow: #FFDB58;
$blue: #00f6fb;
$darkSlate: #495670;
$transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

@media (max-width: 590px) {}


@media (max-width: 768px) {

    ::-webkit-scrollbar {
        height: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--dark-slate);
        opacity: 0.6;
        border-radius: 5px;
    }

    section {
        padding: 60px 0px;
    }

    .hero-section {
        height: auto !important;
        padding-top: var(--nav-height) !important;
    }

    .big-heading {
        h2 {
            font-size: clamp(40px, 8vw, 80px);
        }

        h3 {
            font-size: 1.75rem !important;
        }
    }

    .nav-header {
        padding: 0px 25px;

        .mobile-menu {
            display: flex;
        }
    }

    .navbar {
        justify-content: center !important;

        .list {
            ol {
                li {
                    flex-direction: column;
                    padding: 3px 20px 20px;
                    font-size: clamp(var(--fz-sm), 4vw, var(--fz-lg));
                }
            }
        }
    }

    .fill-height {
        padding: 0px 25px !important;
    }

    .scale-trans {
        .button {
            padding {
                padding: 18px 50px;
            }
        }
    }

    .inner {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        max-width: 150px !important;

        .image-wrapper {
            width: 100% !important;

            img {
                width: 150px !important;
            }
        }
    }

    .inner-tabs {
        flex-direction: column;

        .tab {
            display: flex;

            .tab-button {
                border-left: none !important;

                &:hover {
                    border-left: none !important;
                }

            }

            .active {
                border-bottom: 2px solid $blue !important;
                border-left: none !important;
            }
        }

        .tab-content {
            margin-left: 0px !important;
        }
    }
}


@media (min-width:480px) and (max-width:767px) {}

// TABLET VIEW
@media (min-width: 560px) and (max-width: 990px) {}

// DESKTOP VIEW
@media only screen and (min-width: 992px) and (max-width: 1400px) {}

// LARGE SCREENS
@media only screen and (min-width: 1400px) {}





@media (max-height: 700px) and (min-width: 700px),
(max-width: 360px) {
    .section-heading {
        height: auto;
        padding-top: var(--nav-height);
        color: var(--green);
    }
}