$color_1: var(--lightest-slate);
$font-family_1: var(--font-mono);
$background-color_1: var(--navy);

$blue: #00f6fb;
// $yellow: #FFDB58;
$darkSlate: #495670;
$transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

// Mixins
@mixin hoverEffect {
  &:hover {
    transform: translateY(-5px);
    color: $blue;
  }
}

/* Navbar CSS */
:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);


  html {
    box-sizing: border-box;
    width: 100%;
    scroll-behavior: smooth;
  }

  body {
    color: var(--slate);
  }

  .green {
    color: $blue;
  }

  a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--transition);
  }


  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--dark-slate);
    opacity: 0.6;
    border-radius: 5px;
  }
}

.blur {
  filter: blur(5px);
  transition: filter 0.3s ease;
  overflow: hidden !important;
}

.underline-on-hover {
  position: relative;
  text-decoration: none;
}

.underline-on-hover::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: $blue;
  transition: width 0.3s ease-in-out;
}

.underline-on-hover:hover::before {
  width: 100%;
}

section {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
}

.clearbtn {
  text-decoration: none;
  border: none;
  outline: none;
  background-color: inherit;
  color: $blue;
}

.rotate-icon {
  transition: transform 0.3s ease;
}

.rotate-icon.rotate180 {
  transform: rotate(180deg);
}


.scale-trans {

  .button {
    color: $blue;
    background-color: transparent;
    border: 1px solid $blue;
    border-radius: var(--border-radius);
    padding: 0.75rem 1rem;
    line-height: 1;
    text-decoration: none;
    margin-left: 15px;
    font-size: var(--fz-xs);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-2px);
      box-shadow: $blue 3px 3px 0px;
    }
  }
}

.nav-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
  padding: 0px 50px;
  width: 100%;
  height: 100px;
  background-color: #0a192f89;
  backdrop-filter: blur(10px);
  transition: transform 0.4s ease-in-out;


  .mobile-menu {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding: 50px 10px;
    width: min(75vw, 400px);
    height: 100vh;
    outline: 0px;
    background-color: var(--light-navy);
    box-shadow: -10px 0px 30px -15px var(--navy-shadow);
    z-index: 9;
    transform: translateX(100%);
    visibility: hidden;
    transition: transform ease-in-out 500ms, visibility 500ms;

    &.open {
      transform: translateX(0);
      visibility: visible;
      filter: none;
    }
  }

}

.navbar {
  width: 100%;
  color: $color_1;
  background-color: transparent;
  z-index: 12;

  .list {
    counter-reset: item 0;

    ol {
      margin: 0px 5px;
      position: relative;
      counter-reset: item;

      li {
        font-size: var(--fz-xs);
        margin: 0 20px;

        a {
          transition: color 0.3s ease-in-out;


          &:hover {
            color: $blue;
          }
        }

        &::before {
          counter-increment: item;
          content: "0" counter(item) ".";
          margin-right: 5px;
          color: $blue;
          font-size: var(--fz-xxs);
          text-align: right;
        }
      }
    }
  }
}

.nav-items {
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
}

.navbar-scroll-up {
  transform: translateY(-100%);
}

.navbar-scroll-down {
  transform: translateY(0);
}


// Left Tagline



.left {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: var(--light-slate);

  ul {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;

    li {
      a {
        padding: 12px;
        text-decoration: none;
        transition: transform 0.3s ease, color 0.5s ease;

        @include hoverEffect;

      }

      &:last-of-type {
        margin-bottom: 15px;
      }
    }

    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 100px;
      margin: 0px auto;
      background-color: var(--light-slate);
    }
  }
}


.right {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  color: var(--light-slate);

  .email {
    position: relative;

    a {
      transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
      margin: 20px auto;
      padding: 10px;
      font-family: var(--font-mono);
      font-size: var(--fz-xxs);
      line-height: var(--fz-lg);
      letter-spacing: 0.1em;
      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
      transition: transform 0.3s ease, color 0.2s ease;

      @include hoverEffect;
    }

    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 100px;
      margin: 0px auto;
      background-color: var(--light-slate);
    }
  }
}


.fill-height {
  padding: 0px 150px;
}


main {
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 200px 150px;


  .hero-section {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    height: 100vh;
    padding: 0px;

    h1 {
      margin: 0px 0px 30px 4px;
      color: $blue;
      font-family: var(--font-mono);
      font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
      font-weight: 400;
    }


    .big-heading {

      color: var(--lightest-slate);
      line-height: 1.1;

      h2 {
        margin: 0px;
        font-size: clamp(40px, 8vw, 80px);
        margin: 0px px 0px 10px;
        font-weight: 600;
      }

      h3 {
        margin-top: 5px;
        color: var(--slate);
        line-height: 0.9;
        font-weight: 600;
        font-size: 2.75rem;
      }
    }

    .description {
      p {
        margin: 20px 0px 0px;
        max-width: 540px;
      }
    }
  }

  .numbered-heading {
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px, 5vw, var(--fz-heading));
    white-space: nowrap;

    h2 {
      margin: 0px 0px 10px;
      font-weight: 600;
      color: var(--lightest-slate);
      line-height: 1.1;
    }

    &::before {
      position: relative;
      bottom: 4px;
      counter-increment: section 1;
      content: "0" counter(section) ".";
      margin-right: 10px;
      color: $blue;
      font-family: var(--font-mono);
      font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
      font-weight: 400;
    }

    &::after {
      content: "";
      display: block;
      position: relative;
      top: -5px;
      width: 270px;
      height: 1px;
      margin-left: 20px;
      background-color: var(--lightest-navy);
    }
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in-active {
  opacity: 1;
  transform: translateY(0);
}



.about-section {
  max-width: 900px;


  .inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;


    .inner-data {

      ul {
        display: grid;
        grid-template-columns: repeat(2, minmax(140px, 200px));
        gap: 0px 10px;
        margin: 20px 0px 0px;
        overflow: hidden;
        list-style: none;

        li {
          position: relative;
          margin-bottom: 10px;
          padding-left: 20px;
          font-family: var(--font-mono);
          font-size: var(--fz-xs);

          &::marker {
            content: "▹";
            position: absolute;
            left: 0px;
            color: $blue;
            font-size: var(--fz-sm);
            line-height: 12px;
          }
        }
      }
    }
  }

  .image-container {

    max-width: 280px;

    .image-wrapper {
      box-shadow: 0 10px 30px -15px var(--navy-shadow);
      transition: var(--transition);
      display: block;
      position: relative;
      width: 100%;
      border-radius: var(--border-radius);
      background-color: $blue;

      &::before {
        top: 0px;
        left: 0px;
        background-color: var(--navy);
        mix-blend-mode: screen;
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);
        transition: var(--transition);
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);
        transition: var(--transition);
        border: 2px solid $blue;
        top: 14px;
        left: 14px;
        z-index: -1;
      }

      img {
        height: fit-content;
        width: 280px;
        border-radius: var(--border-radius);
      }
    }
  }
}



.section-expirence {
  max-width: 700px;

  .numbered-heading {
    &::before {
      counter-increment: section 2;
    }
  }

  .inner-tabs {
    gap: 20px;

    .tab {
      position: relative;
      z-index: 3;
      width: max-content;
      padding: 0px;
      margin: 0px;
      list-style: none;


      .tab-button {
        cursor: pointer;
        border: 0px;
        border-radius: 0px;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        position: relative;
        transition: var(--transition);
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
        height: var(--tab-height);
        padding: 0px 20px 2px;
        border-left: 2px solid var(--lightest-navy);
        background-color: transparent;
        color: var(--slate);
        font-family: var(--font-mono);
        font-size: var(--fz-xs);
        text-align: left;
        white-space: nowrap;

        &:hover {
          background-color: var(--dark-navy);
          color: $blue;
        }
      }

      .active {
        border-left: 2px solid $blue;
        color: $blue;
      }

    }

    .tab-content {
      position: relative;
      width: 100%;
      margin-left: 20px;

      .content {
        width: 100%;
        height: auto;
        padding: 8px 5px;

        .tab-heading {
          margin-bottom: 2px;
          font-size: 20px;
          font-weight: 500;
        }

        .range {
          margin-bottom: 25px;
          color: var(--light-slate);
          font-family: var(--font-mono);
          font-size: var(--fz-xs);
        }

      }

      ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
        font-size: 14px;

        li {
          position: relative;
          padding-left: 30px;
          margin-bottom: 10px;

          &::before {
            content: "▹";
            position: absolute;
            left: 0px;
            color: $blue;
          }
        }
      }
    }
  }
}

.section-built {
  max-width: 900px;

  .numbered-heading {
    &::before {
      counter-increment: section 3;
    }
  }
}